## Example configuration:
upstream fastcgi_backend {
    # use tcp connection
    # server  127.0.0.1:9000;
    # or socket
    server 127.0.0.1:90{{ php_version|default('70')|regex_replace('[^0-9]', '') }};
}
server {
    listen 1083;
    server_name mage.dev;
    set $MAGE_ROOT /var/www/magento2;
    set $MAGE_DEBUG_SHOW_ARGS 0;
    set $MAGE_MODE default;

    fastcgi_param MAGE_MODE $MAGE_MODE;

    include /var/www/magento2/nginx[.]conf.sample;
}
