# Accepted values, in order of severity: "DEBUG", "INFO", "WARN", "ERROR", "FATAL", "PANIC"
logLevel = "WARN"

[traefikLog]
filePath = "/var/log/traefik/traefik.log"
format   = "json"

[accessLog]
filePath = "/var/log/traefik/access.log"
format = "json"

defaultEntryPoints = ["http", "https"]

InsecureSkipVerify = true

[entryPoints]
[entryPoints.http]
address = ":80"
[entryPoints.http.redirect]
entryPoint = "https"
[entryPoints.https]
address = ":443"
[entryPoints.https.tls]
[entryPoints.traefik]
address = ":8000"

# [acme]
# email = "john@example.com"
# storage = "/etc/traefik/acme.json"
# entryPoint = "https"
# dnsProvider = "digitalocean"
# [acme.dnsChallenge]
# provider = "digitalocean"
# delayBeforeCheck = 0

# [[acme.domains]]
# main = "*.example.com"
# sans = ["example.com"]

[file]
directory = "/etc/traefik/conf.d/"
watch = true

[api]
entryPoint = "traefik"
dashboard = true