# Accepted values, in order of severity: "DEBUG", "INFO", "WARN", "ERROR", "FATAL", "PANIC"
logLevel = "WARN"

# Entrypoints to be used by frontends that do not specify any entrypoint.
# Each frontend can specify its own entrypoints.
#
# Optional
# Default: ["http"]
#
# defaultEntryPoints = ["http", "https"]

defaultEntryPoints = ["http"]

InsecureSkipVerify = true

[entryPoints.http]
address = ":80"

[web]
address = ":8000"

[file]
watch = true

# 
# # Example routing
# 
# [frontends.default]
# backend = "default"
# passHostHeader = true
# [frontends.default.routes.default]
# priority = 100
# [backends.default.LoadBalancer]
# method = "wrr"
# [backends.default.servers.localhost]
# url = "https://127.0.0.1:1080"
# weight = 1
